from datetime import timedelta
from django.utils.timezone import now
from .models import Lecture, Attendance, Student
from .tasks import finalize_attendance

def close_qr_and_schedule(request, lecture_id):
    lecture = Lecture.objects.get(id=lecture_id)

    # QR expired
    lecture.qr_end_time = now()
    lecture.save()

    # Jisne QR scan nahi kiya → PENDING
    students = Student.objects.all()
    for student in students:
        Attendance.objects.get_or_create(
            student=student,
            lecture=lecture,
            defaults={'status': 'PENDING'}
        )

    # 🔥 2 HOURS BAAD AUTO DECISION
    finalize_time = lecture.qr_end_time + timedelta(hours=2)

    finalize_attendance.apply_async(
        args=[lecture.id],
        eta=finalize_time
    )

    return JsonResponse({"message": "QR closed & auto attendance scheduled"})

    def apply_leave(request, lecture_id, student_id):
    Leave.objects.create(
        student_id=student_id,
        lecture_id=lecture_id,
        status='PENDING'
    )
    return JsonResponse({"message": "Leave applied"})

    def approve_leave(request, leave_id):
    leave = Leave.objects.get(id=leave_id)
    leave.status = 'APPROVED'
    leave.save()
    return JsonResponse({"message": "Leave approved"})
