<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h2>Login Page</h2>
  
  <form id="loginForm" method="POST">
    {% csrf_token %}
    <label>Email:</label>
    <input type="text" name="email"><br><br>

    <label>Password:</label>
    <input type="password" name="password"><br><br>

    <input type="hidden" id="fingerprint" name="fingerprint">

    <button type="submit">Login</button>
  </form>
   <div id="deviceFingerprint">hello</div>
  <script>
    async function generateFingerprint() {
      const data = [
        navigator.userAgent,
        navigator.language,
        screen.width,
        screen.height,
        new Date().getTimezoneOffset(),
        navigator.platform,
        navigator.hardwareConcurrency || 'unknown',
      ].join('-');

      // create hash (simple SHA-256)
      const encoder = new TextEncoder();
      const dataBuffer = encoder.encode(data);
      const hashBuffer = await crypto.subtle.digest('SHA-256', dataBuffer);
      const hashArray = Array.from(new Uint8Array(hashBuffer));
      const hashHex = hashArray.map(b => b.toString(16).padStart(2, '0')).join('');
      return hashHex;
    }

    generateFingerprint().then(fp => {
      document.getElementById('fingerprint').value = fp;
      console.log("Device Fingerprint:", fp);
      const deviceFingerprint = document.querySelector("#deviceFingerprint")
      deviceFingerprint.innerHTML = fp;
    });
  </script>

</body>
</html>