
<div class="admin-cards">
{% for student in students %}
 <a href="{% url 'chat_home' %}?student_id={{ student.college_id }}" class="admin-card-link">
<div class="admin-card">
    <div class="card-header">
        <div class="header-text">
            <h3>{{ student.name }}</h3>
            <p>{{ student.course }} - Semester {{ student.semester }}</p>
        </div>
        {% if student.profile_picture %}
        <img src="{{ student.profile_picture.url }}" alt="Student Photo" class="admin-image">
        {% else %}
        <img src="https://tse4.mm.bing.net/th/id/OIP.audMX4ZGbvT2_GJTx2c4GgHaHw?pid=Api&P=0&h=180" alt="Student Photo" class="admin-image">
        {% endif %}
        <div class="online-status {% if student.online_status %}online{% else %}offline{% endif %}"></div>
    </div>
    <div class="card-body">
        <div class="admin-detail">
            <i class="fas fa-envelope"></i>
            <span class="detail-label">Email:</span>
            <span class="detail-value">{{ student.email }}</span>
        </div>
        <div class="admin-detail">
            <i class="fas fa-phone"></i>
            <span class="detail-label">Phone:</span>
            <span class="detail-value">+91 {{ student.phone }}</span>
        </div>
        <div class="admin-detail">
            <i class="fas fa-id-badge"></i>
            <span class="detail-label">Student ID:</span>
            <span class="detail-value">{{ student.college_id }}</span>
        </div>
        <div class="admin-detail">
            <i class="fas fa-graduation-cap"></i>
            <span class="detail-label">Course:</span>
            <span class="detail-value">{{ student.course }}</span>
        </div>
    </div>
    <div class="card-footer">
        <div class="admin-status {% if student.online_status %}active{% else %}inactive{% endif %}">
            <span class="status-indicator"></span>
            <span class="status-value">
                {% if student.online_status %}Online{% else %}Offline{% endif %}
            </span>
        </div>
        <div class="admin-actions">
            <a href="{% url 'chat_home' %}?student_id={{ student.college_id }}" class="action-btn" title="Message">
                <i class="fas fa-comment-alt"></i>
            </a>
        </div>
    </div>
   
</div>
 </a>
{% empty %}
</div>
 <div id="noRecordsMessage" class="alert alert-info mt-4" style="margin-top: 30px;background: #ec3a2a;color: rgb(255, 255, 255);max-width: 1500px;height:80px ;">
                        <i class="fas fa-info-circle"></i>
                        <div>
                            <h3>No Student found</h3>
                            <p style="font-size: medium;" class="mb-0">Try adjusting your filters </p>
                        </div>
                    </div>

{% endfor %}
